{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">

                        {% if image.photograph == '' or image.photograph == null %}
                            <img class="card__imagem" src="{% static '/assets/imagens/galeria/not_found.jpg'%}">
                        {% else %}
                            <img class="card__imagem" src="{{ image.photograph.url }}" alt="foto">
                        {% endif %}
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{ image.name }}</p>
                                <p class="imagem__descricao">{{ image.caption }}</p>
                                <p class="imagem__texto">{{ image.description }}</p>
                            </div>
                            <div>
                                <a href="{% url 'edit_image'%}">
                                    <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Editar</button>
                                </a>
                                <a href="{% url 'delete_image'%}">
                                   <button class="btn btn-danger col-12" style="padding: top 5px;" type="submit">Deletar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}